* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

.container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    height: 600px;
    background: black;
    flex-direction: row;
    justify-content: flex-start;   /*space-between , space-around, space evenly, flex-start, center, flex-end */
    align-items: flex-start;
    flex-wrap: wrap;
}


.box {
    text-align: center;
    background: aliceblue;
    width: 200px;
    border: 2px solid black;
    margin: 10px;
}

