table,
tr,
td,
th {
    border: 2px solid black;
    border-collapse: collapsed;

}

table {
       width: 600px;
       margin: 0 auto;
       font-size: 2em;
}

th, td {
    padding: 10px;

}

thead tr {
    background: beige;
    color: orangered;
}

tbody tr:nth-child(even){
    background: #a7a7a7;

}

tbody tr:hover {
    background: blueviolet;
}


div {
    width: 300px;
    height: 300px;
    border: 2px solid black;

}
 /*overflow:visible; / overflow:hidden; / overflow:auto; / overflow:scroll; */

